.ShoppingCartHead {
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #c0d6f0, #e0789d);
}
.ShoppingCart_display {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-rows: 1fr;
}
.ShoppingCart-Other {
  margin-bottom: 20px;
}
.ShoppingCart-Other > h3 {
  background-color: #dd3c72;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
}
.ShoppingCartHead > div {
  width: 1280px;
  height: 70px;
  display: flex;
  margin: auto;
  align-items: center;
  color: #fff;
  padding: 10px;
  padding-top: 5px;
}
.ShoppingCartHead-Icon {
  padding-right: 20px;
  font-size: 32px;
}
.ShoppingCartHead-Content > h3 {
  border-left: 1px solid #fff;
  padding-left: 20px;
  margin-bottom: 4px;
}
.ShoppingCart-One {
  height: fit-content;
}
.ShoppingCart-Head,
.ShoppingCart-Sum,
.ShoppingCart-BodyItem {
  background: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0px 3px 2px #bdbdbd;
  margin: 0 auto;
}
.ShoppingCart-Head {
  font-weight: 600;
  margin-bottom: 30px;
}

.ShoppingCart-Body {
  display: block;
  height: fit-content;
  border-radius: 3px;
}
.ShoppingCart-Sum {
  font-weight: 600;
  margin: 30px 0px;
  height: 100px;
}
.ShoppingCart-BodyItem {
  display: flex;
  margin: 1px 0px;
  border-radius: 0px;
  box-shadow: 0px 1px 2px #bdbdbd;
  height: fit-content;
}

.ShoppingCart-Long {
  width: 400px;
}
.ShoppingCart-Long120 {
  width: 120px;
  display: inline-block;
  text-align: center;
}
.ShoppingCart-Checkbox {
  display: inline-block;
  margin-right: 20px;
}

.ShoppingCart-Sum-Price {
  font-size: 24px;
  color: #ff0000;
  font-weight: 500;
  margin-left: 10px;
}
.ShoppingCart-ButtonBuy {
  font-size: 24px;
  font-weight: 500;
  padding: 5px 10px;
  border: 2px solid #dd3c72;
  border-radius: 10px;
  cursor: pointer;
  background-color: #dd3c72;
  color: #fff;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
}
.ShoppingCart-ButtonBuy:hover {
  background-color: #ff5593;
  border: 2px solid #ff5593;
}
.ShoppingCart-SumContainer {
  position: sticky;
  bottom: 0;
}
@media screen and (min-width: 1300px) {
  .ShoppingCartHead {
    margin-top: 113px;
  }
  .ShoppingCart {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .ShoppingCart-Sum > div,
  .ShoppingCart-Sum > div > div,
  .ShoppingCart-Sum > div > div span {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 900px) and (max-width: 1299px) {
  .ShoppingCartHead {
    margin-top: 113px;
  }
  .ShoppingCart {
    width: 100%;
    margin: 0px auto;
    padding: 0px 10px;
  }
  .ShoppingCart-BodyItem {
    width: 100%;
  }
  .ShoppingCart-Sum > div,
  .ShoppingCart-Sum > div > div,
  .ShoppingCart-Sum > div > div span {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 900px) and (max-width: 999px) {
  .ShoppingCartHead {
    margin-top: 88px;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .ShoppingCartHead {
    margin-top: 88px;
  }
  .ShoppingCart {
    margin: 0px auto;

    padding: 0px 10px;
  }
  .ShoppingCart-Long {
    width: 300px;
  }
  .ShoppingCart-Long120 {
    width: 100px;
    display: inline-block;
    text-align: center;
  }
  .ShoppingCart-Sum > div,
  .ShoppingCart-Sum > div > div,
  .ShoppingCart-Sum > div > div span {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .ShoppingCartHead {
    margin-top: 88px;
  }
  .ShoppingCart {
    margin: 0px auto;

    padding: 0px 10px;
  }
  .ShoppingCart-Head > span {
    display: none;
  }
  .ShoppingCart-Sum input {
    display: none;
  }
  .ShoppingCart-Sum > div > span {
    display: none;
  }
  .ShoppingCart-Sum > div {
    display: flex;
  }
  .ShoppingCart-Sum > div > div {
    display: block;
    text-align: right;
  }
  .ShoppingCart-Sum > div > div span {
    display: block;
  }
}
@media screen and (max-width: 299px) {
  .ShoppingCartHead {
    margin-top: 113px;
  }
}
