.ShoppingCart-One {
    height: fit-content;
}
.ShoppingCart-Head,
.ShoppingCart-Sum,
.ShoppingCart-BodyItem {
    background: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 2px #bdbdbd;
    margin: 0 auto;
}
.ShoppingCart-Head {
    font-weight: 600;
    margin-bottom: 30px;
}

.ShoppingCart-Body {
    display: block;
    height: fit-content;
    border-radius: 3px;
}
.ShoppingCart-Sum {
    font-weight: 600;
    margin: 30px 0px;
    height: 100px;
}
.ShoppingCart-BodyItem {
    display: flex;
    margin: 1px 0px;
    border-radius: 0px;
    box-shadow: 0px 1px 2px #bdbdbd;
    height: fit-content;
}

.ShoppingCart-Long {
    width: 400px;
}
.ShoppingCart-Long120 {
    width: 120px;
    display: inline-block;
    text-align: center;
}
.ShoppingCart-Checkbox {
    display: inline-block;
    margin-right: 20px;
}

.ShoppingCart-Sum-Price {
    font-size: 24px;
    color: #ff0000;
    font-weight: 500;
    margin-left: 10px;
}
.ShoppingCart-ButtonBuy {
    font-size: 24px;
    font-weight: 500;
    padding: 5px 10px;
    border: 2px solid #dd3c72;
    border-radius: 10px;
    cursor: pointer;
    background-color: #dd3c72;
    color: #fff;
    margin-left: 15px;
    transition: all 0.3s ease-in-out;
}
.ShoppingCart-ButtonBuy:hover {
    background-color: #ff5593;
    border: 2px solid #ff5593;
}
.ShoppingCart-SumContainer {
    position: sticky;
    bottom: 0;
}
@media screen and (min-width: 1300px) {
    .ShoppingCart {
        max-width: 1280px;
        margin: 0 auto;
        margin-top: 130px;
        padding: 0px 10px;
    }
    .ShoppingCart-Sum > div,
    .ShoppingCart-Sum > div > div,
    .ShoppingCart-Sum > div > div span {
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: 900px) and (max-width: 1299px) {
    .ShoppingCart {
        width: 100%;
        margin: 0px auto;
        margin-top: 130px;
        padding: 0px 10px;
    }
    .ShoppingCart-BodyItem {
        width: 100%;
    }
    .ShoppingCart-Sum > div,
    .ShoppingCart-Sum > div > div,
    .ShoppingCart-Sum > div > div span {
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
    .ShoppingCart {
        margin: 0px auto;
        margin-top: 100px;
        padding: 0px 10px;
    }
    .ShoppingCart-Long {
        width: 300px;
    }
    .ShoppingCart-Long120 {
        width: 100px;
        display: inline-block;
        text-align: center;
    }
    .ShoppingCart-Sum > div,
    .ShoppingCart-Sum > div > div,
    .ShoppingCart-Sum > div > div span {
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 599px) {
    .ShoppingCart {
        margin: 0px auto;
        margin-top: 100px;
        padding: 0px 10px;
    }
    .ShoppingCart-Head > span {
        display: none;
    }
    .ShoppingCart-Sum input {
        display: none;
    }
    .ShoppingCart-Sum > div > span {
        display: none;
    }
    .ShoppingCart-Sum > div {
        display: flex;
    }
    .ShoppingCart-Sum > div > div {
        display: block;
        text-align: right;
    }
    .ShoppingCart-Sum > div > div span {
        display: block;
    }
}
