.ShoppingCartHead {
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #c0d6f0, #e0789d);
}
.second-layout .ShoppingCartHead {
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #0775b454, #1c7b7b);
}
.ShoppingCart_display {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-rows: 1fr;
}
.ShoppingCart-Other {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.ShoppingCartHead-Icon {
    color: #dd3c72;
}
.second-layout .ShoppingCartHead-Icon {
    color: #41707f;
}
.ShoppingCart-Other > h3 {
    background-color: #dd3c72;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
}
.second-layout .ShoppingCart-Other > h3 {
    background-color: #41707f;
}

.ShoppingCartHead > div {
    width: 1280px;
    height: 70px;
    display: flex;
    margin: auto;
    align-items: center;
    color: #fff;
    padding: 10px;
    padding-top: 5px;
}
.ShoppingCartHead-Icon {
    padding-right: 20px;
    font-size: 32px;
}
.ShoppingCartHead-Content > h3 {
    border-left: 1px solid #fff;
    padding-left: 20px;
    margin-bottom: 4px;
}
.first-layout .ShoppingCart-One {
    height: fit-content;
}
.ShoppingCart-Head,
.ShoppingCart-Sum,
.ShoppingCart-BodyItem {
    background: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 2px #bdbdbd;
    margin: 0 auto;
}
.second-layout .ShoppingCart-Sum {
    height: fit-content;
    margin: 0px;
    display: block;
    margin: 0px 10px;
}

.second-layout .ShoppingCart-Sum > div:nth-child(2) {
    display: block;
    text-align: right;
}
.second-layout .ShoppingCart-Sum > div:nth-child(2) > div {
    display: block;
}
.second-layout .ShoppingCart-Sum > div > div span {
    display: block;
    align-items: center;
}
.ShoppingCart-Head {
    font-weight: 600;
    margin-bottom: 30px;
}

.ShoppingCart-Body {
    display: block;
    height: fit-content;
    border-radius: 3px;
}
.ShoppingCart-Sum {
    font-weight: 600;
    margin: 30px 0px;
    height: 100px;
}
.first-layout .ShoppingCart-Sum {
    display: flex;
    align-items: flex-start;
}
.ShoppingCart-BodyItem {
    display: flex;
    margin: 1px 0px;
    border-radius: 0px;
    box-shadow: 0px 1px 2px #bdbdbd;
    height: fit-content;
}

.first-layout .ShoppingCart-Long {
    width: 400px;
}
.ShoppingCart-Long120 {
    width: 120px;
    display: inline-block;
    text-align: center;
}
.first-layout .ShoppingCart-Checkbox {
    display: inline-block;
    margin-right: 20px;
}

.ShoppingCart-Sum-Price {
    font-size: 24px;
    color: #ff0000;
    font-weight: 500;
    margin-left: 10px;
}
.ShoppingCart-ButtonBuy {
    font-size: 24px;
    font-weight: 500;
    padding: 5px 10px;
    border: 2px solid #dd3c72;
    border-radius: 10px;
    cursor: pointer;
    background-color: #dd3c72;
    color: #fff;
    margin-left: 15px;
    transition: all 0.3s ease-in-out;
    margin: 10px 0;
}

.second-layout .ShoppingCart-ButtonBuy {
    border: 2px solid #41707f;
    background-color: #41707f;
    border-radius: 5px;
}
.first-layout .ShoppingCart-ButtonBuy:hover {
    background-color: #ff5593;
    border: 2px solid #ff5593;
}
.second-layout .ShoppingCart-ButtonBuy:hover {
    background-color: #628591;
    border: 2px solid #628591;
}
.ShoppingCart-SumContainer {
    position: sticky;
    bottom: 0;
}
@media screen and (min-width: 1300px) {
    .ShoppingCart_display {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .ShoppingCartHead {
        margin-top: 113px;
    }
    .first-layout .ShoppingCart {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0px 10px;
    }
    .ShoppingCart-Sum > div,
    .ShoppingCart-Sum > div > div,
    .ShoppingCart-Sum > div > div span {
        display: flex;
        align-items: center;
    }
    .second-layout .ShoppingCart-One {
        display: flex;
        width: 1280px;
        margin: auto;
    }
    .second-layout .ShoppingCart-Body {
        margin: 0 10px;
        width: 75%;
    }
    .second-layout .ShoppingCart-BodyItem {
        width: 98%;
        margin-bottom: 10px;
    }
    .second-layout .ShoppingCart-SumContainer {
        width: 24%;
    }
    .second-layout .ShoppingCart-Head {
        display: none;
    }
}
@media screen and (min-width: 900px) and (max-width: 1299px) {
    .ShoppingCart_display {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .ShoppingCartHead {
        margin-top: 113px;
    }
    .first-layout .ShoppingCart {
        width: 100%;
        margin: 0px auto;
        padding: 0px 10px;
    }
    .ShoppingCart-BodyItem {
        width: 100%;
    }
    .ShoppingCart-Sum > div,
    .ShoppingCart-Sum > div > div,
    .ShoppingCart-Sum > div > div span {
        display: flex;
        align-items: center;
    }
    .second-layout .ShoppingCart-Head {
        display: none;
    }

    .second-layout .ShoppingCart-One {
        display: flex;
        width: 98%;
        margin: auto;
    }
    .second-layout .ShoppingCart-Body {
        margin: 0 10px;
        width: 75%;
    }
    .second-layout .ShoppingCart-BodyItem {
        width: 98%;
        margin-bottom: 10px;
    }
    .second-layout .ShoppingCart-SumContainer {
        width: 24%;
    }
    .second-layout .ShoppingCart-Sum {
        height: fit-content;
    }
}
@media screen and (min-width: 900px) and (max-width: 999px) {
    .ShoppingCart_display {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .ShoppingCartHead {
        margin-top: 88px;
    }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
    .ShoppingCart_display {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .ShoppingCartHead {
        margin-top: 88px;
    }
    .first-layout .ShoppingCart {
        margin: 0px auto;

        padding: 0px 10px;
    }
    .first-layout .ShoppingCart-Long {
        width: 300px;
    }
    .first-layout .ShoppingCart-Long120 {
        width: 100px;
        display: inline-block;
        text-align: center;
    }
    .ShoppingCart-Sum > div,
    .ShoppingCart-Sum > div > div,
    .ShoppingCart-Sum > div > div span {
        display: flex;
        align-items: center;
    }

    .second-layout .ShoppingCart-One {
        display: block;
        width: 98%px;
    }
    .second-layout .ShoppingCart-Body {
        margin: 0 10px;
        width: 100%;
    }
    .second-layout .ShoppingCart-BodyItem {
        width: 98%;
        margin-bottom: 10px;
    }
    .second-layout .ShoppingCart-SumContainer {
        width: 100%;
    }
    .second-layout .ShoppingCart-Head {
        display: none;
    }
    .second-layout .ShoppingCart-Other {
        width: 98%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 599px) {
    .ShoppingCartHead {
        margin-top: 88px;
    }
    .second-layout .ShoppingCart-Head {
        margin: 20px 10px;
    }
    .first-layout .ShoppingCart {
        margin: 0px auto;

        padding: 0px 10px;
    }
    .ShoppingCart-Head > span {
        display: none !important;
    }
    .ShoppingCart-Sum input {
        display: none;
    }
    .ShoppingCart-Sum > div > span {
        display: none;
    }
    .ShoppingCart-Sum > div {
        display: flex;
    }
    .ShoppingCart-Sum > div > div {
        display: block;
        text-align: right;
        margin: 0 10px;
    }
    .ShoppingCart-Sum > div > div span {
        display: block;
    }
    .ShoppingCart_display {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .second-layout .ShoppingCart-Body {
        margin: 0 10px;
    }
    .second-layout .ShoppingCart-Other {
        width: 96%;
        margin: auto;
    }
    .second-layout .ShoppingCart-SumContainer {
        width: 100%;
    }
    .second-layout .ShoppingCart-Sum {
        margin: 20px 10px;
    }
}
@media screen and (max-width: 480px) {
    .ShoppingCart_display {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (max-width: 299px) {
    .ShoppingCartHead {
        margin-top: 113px;
    }
    .ShoppingCartItem-Img {
        display: none;
    }
}
