.introduction-container {
    padding: 4rem 0;
}

.introduction-container-detail {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.App.first-layout .introduction-main {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 auto;
    gap: 5rem;
}

.App.first-layout .introduction-left {
    display: flex;
    flex-direction: column;
    width: 75%;
    --tw-space-y-reverse: 0;
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
}

.App.first-layout .introduction-left h2 {
    font-weight: 800;
    font-family: Nunito;
    letter-spacing: 1px;
}

.App.first-layout .introduction-left p {
    font-family: Nunito Sans;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.App.first-layout .introduction-left-detail {
    color: black;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    --tw-space-y-reverse: 0;
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
}

.App.first-layout .intro-active {
    transition: all 300ms;
}

.App.first-layout .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.App.first-layout .active-intro {
    background: linear-gradient(
        92.18deg,
        rgba(45, 139, 201, 0.7) 11.78%,
        rgba(248, 212, 27, 0.3) 118.78%
    );
    transition: all 0.5s ease-in-out;
}

.App.first-layout .introduction-right {
    position: relative;
    width: 65%;
    margin-left: auto;
    margin-right: 0;
}

.App.first-layout .introduction-right-image {
    position: absolute;
    top: 4rem;
    left: 2rem;
}

.App.first-layout .introduction-right-image img {
    width: 80%;
}

.App.first-layout .introduction-main-second {
    display: none;
}

.App.second-layout .introduction-main {
    display: none;
}

.App.second-layout .introduction-main {
    display: none;
}

.App.second-layout .introduction-main-second h4 {
    font-weight: 600;
    font-family: Pangolin;
    letter-spacing: 1px;
}

.App.second-layout .introduction-main-second hr {
    width: 117px;
    height: 2px;
    background-color: #3a8da8;
}

.App.second-layout .introduction-main-left-second {
    width: 50%;
}

.App.second-layout .introduction-main-content-second {
    display: block;
    margin-top: 20px;
}

.App.second-layout .introduction-main-content-second p {
    font-family: Roboto Flex;
    letter-spacing: 0.5px;
}

.App.second-layout .introduction-main-detail-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .App.first-layout .introduction-main {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 0 auto;
        gap: 5rem;
        justify-items: center;
    }
    .App.first-layout .introduction-right {
        margin: 0 auto;
    }
    .App.first-layout .introduction-right-image {
        margin: 0 auto;
    }

    .App.second-layout .introduction-main-detail-second {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 0 auto;
        gap: 5rem;
        justify-items: center;
    }
    .App.second-layout .introduction-main-left-second {
        width: 100%;
    }
}
