.App.first-layout .blog-detail-container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 150px;
}

.App.second-layout .blog-detail-container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 150px;
}

.App.first-layout .blog-detail-container-detail-second {
    display: none;
}

.App.second-layout .blog-detail-container-detail {
    display: none;
}

.App.first-layout .blog-detail-container-detail {
    padding: 0 10px;
}

.App.second-layout .blog-detail-container-detail-second {
    padding: 0 10px;
}

.App.first-layout .blog-detail-link a {
    color: #428de5 !important;
}

.App.second-layout .blog-detail-link a {
    color: #428de5 !important;
}

.App.first-layout .blog-detail-link a:hover {
    text-decoration: underline;
}

.App.second-layout .blog-detail-link a:hover {
    text-decoration: underline;
}

.App.first-layout .blog-detail-main {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.App.second-layout .blog-detail-main {
    margin: 30px 0;
}

.App.first-layout .blog-detail-main-right {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    .App.first-layout .blog-detail-main {
        flex-direction: column;
    }

    .App.second-layout .blog-detail-main {
        flex-direction: column;
    }
}
