textarea {
  resize: none;
}
.add-product-container {
  font-family: Roboto Flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10010;
  width: 100vw;
  height: 100vh;
}
.add-product-container .layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
}
.add-product-form-container {
  position: relative;
  max-width: 1200px;
  margin: 10vh auto;
  height: 80vh;
  overflow-y: auto;
  background: white;
  border-radius: 5px;
}

.add-product-form-container .heading {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 14px;
  color: #000;
  background-color: #fff;
}
.add-product-form-container .heading h4 {
  margin: 0;
  letter-spacing: 1px;
}
.add-product-form-container .heading svg {
  font-size: 2em;
}
.add-product-form-container .heading svg:hover {
  color: red;
  cursor: pointer;
}
.product-form {
  display: flex;
  flex-wrap: wrap;
}
.product-form > div {
  padding: 0 30px;
  margin-bottom: 20px;
}
.product-form input,
.product-form textarea,
.product-form select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  padding: 8px 8px;
}
.product-form .product-img {
  width: 100%;
}
.product-form .button-group input {
  border: none !important;
}
.product-form input:focus,
.product-form textarea:focus {
  border: 1px solid rgb(3, 38, 238);
}
.product-form > .product-name {
  flex-basis: 66.66%;
}
.product-form > .product-tag {
  flex-basis: 33.33%;
}
.product-form > .product-price,
.product-form > .product-discount,
.product-form > .product-amount {
  flex-basis: calc(100% / 3);
}
.product-form > .product-depot,
.product-form > .product-address,
.product-form > .product-description,
.product-form > .product-instruction {
  flex-basis: 100%;
}
.product-form label {
  display: block;
}
.product-form label {
  color: #2b3674;
  font-weight: 500;
}
.product-form .button-group input {
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #de135c;
  font-weight: 500;
  color: #fff;
}
.product-form .button-group input:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.product-form .button-group input.cancel {
  margin-left: 8px;
  color: #000;
  background-color: #fff;
  border: 1px solid gray !important;
}
.product-form .button-group {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .product-form > .product-name,
  .product-form > .product-tag,
  .product-form > .product-price,
  .product-form > .product-discount,
  .product-form > .product-amount,
  .product-form > .product-depot,
  .product-form > .product-address,
  .product-form > .product-description,
  .product-form > .product-instruction {
    flex-basis: 100%;
  }
}
