.App.first-layout .about-employee-container {
    padding: 2rem 0;
}

.App.first-layout .about-employee-container-detail {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 10px;
    padding-right: 10px;
}

.App.second-layout .about-employee-container-detail-second {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 10px;
    padding-right: 10px;
}

.App.first-layout .about-employee-container-detail-second {
    display: none;
}

.App.second-layout .about-employee-container-detail {
    display: none;
}

.App.first-layout .about-employee-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    color: black;
    font-family: Roboto Flex;
}

.App.second-layout .about-employee-container-detail-second h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.App.first-layout .about-employee-content-main h2 {
    font-weight: 800;
    padding-bottom: 2rem;
}

.App.first-layout .about-employee-detail {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    gap: 5rem;
    width: 100%;
}

.App.first-layout .about-employee-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App.first-layout .about-employee-info img {
    width: 300px;
    height: 280px;
    border-radius: 35px;
    margin-bottom: 3px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.App.first-layout .about-employee-info img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.App.first-layout .about-employee-info p {
    font-size: 20px;
    font-weight: 800;
    font-family: Roboto Flex;
}

.App.first-layout .about-employee-info span {
    font-size: 15px;
    font-weight: 800;
    font-family: Roboto Flex;
}

.App.second-layout .about-employee-detail {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    gap: 5rem;
    width: 100%;
    margin-bottom: 20px;
}

.App.second-layout .about-employee-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App.second-layout .about-employee-name {
    width: 254px;
    height: 82px;
    background-color: #124c5f;
    padding: 10px;
    text-align: center;
}

.App.second-layout .about-employee-name p {
    color: #ddca69;
    font-size: 20px;
    font-weight: 600;
    font-family: Nunito;
    line-height: 24px;
    letter-spacing: 0.25px;
}

.App.second-layout .about-employee-name span {
    color: #ffffff;
    font-weight: 500;
}

@media screen and (max-width: 960px) {
    .App.first-layout .about-employee-detail {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .App.second-layout .about-employee-detail {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .App.first-layout .about-employee-detail {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .App.second-layout .about-employee-detail {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
