.auth-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    min-height: 100vh;
}

.App.first-layout .auth-container-detail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fdf1e9;
}

.App.second-layout .auth-container-detail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1e293b;
}

.auth-dog-bg {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.auth-paw-1 {
    position: absolute;
    display: block;
    bottom: 10rem;
    left: 15rem;
    z-index: 1;
}

.auth-paw-2 {
    position: absolute;
    display: block;
    top: 10rem;
    left: 20rem;
    z-index: 1;
}

.auth-paw-3 {
    position: absolute;
    display: block;
    right: 10rem;
    z-index: 1;
}

@media screen and (max-width: 960px) {
    .auth-dog-bg {
        display: none;
    }

    .auth-paw-1 {
        display: none;
    }

    .auth-paw-2 {
        display: none;
    }

    .auth-paw-3 {
        display: none;
    }
}
