.about-banner-container {
    padding: 4rem 0;
    margin-top: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("/public/assets/images/home/about.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.about-banner-container-detail {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.about-banner-content-main {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Roboto Flex;
    justify-content: center;
}

.about-banner-content-main h2 {
    font-weight: 800;
    text-align: center;
    padding-bottom: 1rem;
}

.about-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-banner-content p {
    padding: 0.5rem 0;
    font-size: 20px;
    font-weight: 500;
}
