.navbar-admin {
  position: sticky;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100px;
  padding-left: 270px;
  padding-right: 30px;
  font-size: 36px;
  background-color: #ffffff;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-admin h1 {
  font-size: 40px;
}
.sider-container {
  position: fixed;
  z-index: 1;
  width: 250px;
  background-color: #ffffff;
  min-height: 100vh;
}
.sider-logo {
  border-radius: 5px;
  width: 80px;
  margin: 10px;
}
.sider-header {
  display: flex;
  align-items: center;
  height: 100px;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}
.sider-body {
  width: 250px;
  margin: 0;
  top: 100px;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}
.sider-body li {
  margin-right: 20px;
  margin-bottom: 0;
  border-radius: 0 30px 30px 0;
  color: #000000;
  border-left: 5px solid #ffffff;
}
.sider-body a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 20px;
  transition: all 0.5s;
}
.sider-body li:hover {
  color: #0d31ff;
  border-left: 5px solid #0d31ff;
  background-color: #dbdce7;
}
.sider-body span {
  margin-left: 10px;
}
.sider-container .sider-body li.active {
  color: #0d31ff;
  border-left: 5px solid #0d31ff;
  background-color: #dbdce7;
}
.sider-overlayer-mobile {
  display: none;
}
.toggle-hidden-sider-mobile {
  display: none;
}
.toggle-sider-mobile {
  display: none;
}
.toggle-sider-mobile-v2 {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media only screen and (max-width: 768px) {
  .navbar-admin {
    font-size: 28px;
    padding: 0px 10px;
  }
  .navbar-admin > h1 {
    font-size: 28px;
    margin: 0;
  }
  .sider-logo {
    width: 50px;
    margin: 0;
  }
  .sider-container {
    width: 200px;
    left: -200px;
    transition: all 0.2s;
  }
  .sider-header h2 {
    font-size: 24px;
  }
  .sider-header {
    flex-direction: column;
    justify-content: center;
  }
  .sider-header h2 {
    margin: 0;
  }
  .sider-body {
    margin: 0;
    text-align: center;
    width: 200px;
  }
  .sider-body a {
    flex-direction: column;
    font-size: 14px;
  }
  .sider-body span {
    margin-left: 0px;
  }
  .sider-container.mobile-visible {
    left: 0px;
    z-index: 9999;
  }
  .sider-overlayer-mobile {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    top: 0;
    z-index: 9998;
    transition: all 0.2s;
  }
  .toggle-hidden-sider-mobile {
    display: block;
    position: absolute;
    right: 15px;
    font-size: 28px;
  }
  .sider-overlayer-mobile.hidden {
    left: -100vw;
  }
  .toggle-sider-mobile {
    display: block;
  }
  .toggle-sider-mobile-v2 {
    display: block;
    position: absolute;
    height: 100px;
    left: 10px;
    font-size: 28px;
    z-index: 1000;
  }
}
