p.invalid {
    color: #ff0000da !important;
}
input.invalid {
    border: 1px solid #ff0000da !important;
}
textarea.invalid {
    border: 1px solid #ff0000da !important;
}
p.invalid::before {
    content: "";
}

.user-dashboard-container {
    padding-top: 100px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: Nunito Sans;
}
.user-dashboard-container .filter {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    padding: 16px 8px;
}
.user-dashboard-container .filter form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user-dashboard-container .filter form label {
    display: inline-block;
    width: 120px;
}
.user-dashboard-container .filter form input {
    width: calc(100% - 130px);
}

.user-dashboard-container .filter form div {
    flex-basis: 50%;
    margin-bottom: 20px;
}
.user-dashboard-container .filter form button {
    background-color: #de135c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 20px;
    margin: 0 0 0 auto;
}
.user-dashboard-container .user-list-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    margin-top: 24px;
    padding: 12px;
}
.user-dashboard-container .user-list-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-dashboard-container .user-list-container .heading button {
    background-color: #de135c;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 1.2em;
}
.user-dashboard-container .user-list-container .user-list {
    padding: 10px;
}
.user-dashboard-container
    .user-list-container
    .user-list
    .user-list-table-container {
    border-radius: 4px;
    min-height: 500px;
}
.user-dashboard-container .user-list-container .user-list table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
.user-dashboard-container .user-list-container .user-list table thead {
    background-color: rgb(240, 240, 240);
    color: #000;
    text-align: left;
}
.user-dashboard-container .user-list-container .user-list table thead th,
.user-dashboard-container .user-list-container .user-list table tbody td {
    padding: 8px 4px;
    border: none;
    font-size: 16px;
}
.user-dashboard-container .user-list-container .user-list table tbody tr:before,
.user-dashboard-container
    .user-list-container
    .user-list
    table
    thead
    tr:before {
    content: "";
    width: 0;
    transition: all 0.3s;
}
.user-dashboard-container
    .user-list-container
    .user-list
    table
    tbody
    tr:hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(171, 171, 171, 0.122);
}
.user-dashboard-container .user-list-container .user-list table tbody td {
    padding: 16px 4px;
    border-bottom: 1px solid #80808040;
}
.user-dashboard-container .user-list-container .user-list table tbody tr {
    position: relative;
}
.user-dashboard-container .user-list-container .user-list table tbody span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.user-dashboard-container .user-list-container .user-list table tbody .method {
    position: relative;
    display: flex;
    justify-content: center;
}
.user-dashboard-container
    .user-list-container
    .user-list
    table
    span.user-title {
    word-break: break-all;
}
.user-dashboard-container .user-list-container .user-list table tbody svg {
    font-size: 36px;
    border: 1px solid rgb(211, 211, 211);
    margin: 0 4px;
    padding: 6px;
    border-radius: 4px;
}
.user-dashboard-container
    .user-list-container
    .user-list
    table
    svg.delete-user {
    color: #ff4b4b;
}
.user-dashboard-container .user-list-container .user-list table svg.edit-user {
    color: #4bc3ff;
}
.user-dashboard-container .user-list-container .user-list table svg:hover {
    cursor: pointer;
}

.App.second-layout .user-dashboard-container {
    display: flex;
    justify-content: space-between;
}
.App.second-layout .user-dashboard-container .filter {
    flex-basis: 400px;
    height: fit-content;
}
.App.second-layout .user-dashboard-container .filter form {
    flex-direction: column;
}
.App.second-layout .user-dashboard-container .user-list-container {
    margin-top: 0;
    flex-basis: calc(100% - 420px);
}
@media only screen and (max-width: 1280px) {
    .App.second-layout .user-dashboard-container {
        display: block;
    }
    .App.second-layout .user-dashboard-container .user-list-container {
        margin-top: 24px;
    }
    .App.second-layout .user-dashboard-container .filter form {
        flex-direction: row;
    }
}
@media only screen and (max-width: 768px) {
    .user-dashboard-container .filter form {
        flex-direction: column;
    }
    .App.second-layout .user-dashboard-container .filter form {
        flex-direction: column;
    }
}
