.user-dashboard {
  padding-top: 100px;
}
.user-dashboard-container {
  box-shadow: rgb(115 82 199 / 18%) 0px 0.5rem 1.25rem;
  max-width: 1280px;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
}
