.MenuProductLayout2_container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    font-family: "Nunito", sans-serif;
}
.Menu_item_content_product_second {
    width: 100%;
    border: none;
    transition: all 0.5s;
    text-align: start;
    align-items: center;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
}

.Menu_item_content_product_second:hover {
    font-weight: bold;
    color: #193a6a;
}
.active_menu_product2 {
    font-weight: bold;
    color: #193a6a;
    position: relative;
    transition: 0.5s;
}
.active_menu_product2::after {
    content: "";
    position: absolute;
    background-color: #193a6a;
    transition: 0.3s;
    height: 35px;
    left: 0;
    width: 5px;
    transition: 0.5s;
    top: 0;
}

.active_MenuContentTab {
    display: block;
}

.Menu_item_content_product_second {
    padding: 0;
    padding-left: 8px;
    position: relative;
}

.Menu_item_content_product_second span {
    padding-left: 5px;
}

.icon_menu_product_second {
    font-size: 32px;
    margin-right: 5px;
}
@media screen and (max-width: 1024px) {
    .Menu_item_content_product_second {
        margin-top: 15px;
        font-size: 30px;
    }
    .header_menu_product_second {
        font-size: 30px;
    }
    #rate2,
    #price2,
    #numOfProductsSold2 {
        font-size: 30px;
        margin-top: 15px;
    }
    option.option_sort {
        font-size: 24px;
    }
    .Sort_product_item_left_second p {
        font-size: 30px;
    }
}
@media screen and (max-width: 600px) {
    .Sort_product_item_container_ {
        width: 33.33%;
    }
    #rate2,
    #price2,
    #numOfProductsSold2 {
        font-size: 16px;
        margin-top: 15px;
        width: 100%;
    }
}
