.navbar-container {
    position: fixed;
    top: 0px;
    width: 100%;
    color: black;
    padding: 0.25rem 0;
    z-index: 10;
    background-color: transparent;
}

.navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-logo {
    font-family: Pangolin;
}

.navbar-items {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.navbar-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar-list-detail {
    display: flex;
    align-items: center;
    padding: 0.35rem 2rem;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: Roboto Flex;
}

.first-layout .tab-active {
    color: #fff !important;
    background: #428de5;
    border-radius: 0.5rem;
    padding: 0.35rem 2rem;
}

.second-layout .tab-active {
    color: #fff !important;
    background: #193a6a;
    border-radius: 5px;
    padding: 0.5rem 2rem;
}

.first-layout .navbar-list-detail:hover {
    color: #fff;
    background-color: #428de5;
    border-radius: 0.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.second-layout .navbar-list-detail:hover {
    color: #fff;
    background-color: #193a6a;
    border-radius: 0.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.navbar-authenticated {
    color: black;
    font-weight: 800;
    padding: 0.5rem 1rem;
    font-family: Roboto Flex;
    cursor: pointer;
}

.first-layout .navbar-auth {
    background-color: #de135c;
    opacity: 0.8;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-family: Roboto Flex;
}

.second-layout .navbar-auth {
    background-color: #124c5f;
    opacity: 0.8;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-family: Roboto Flex;
}

.navbar-menu-icon {
    display: none;
}

.navbar-container-active {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    backdrop-filter: blur(10px);
    box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
}

.navbar-authenticated img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-authenticated img:hover {
    -webkit-filter: brightness(105%);
}

@media screen and (max-width: 960px) {
    .navbar-list {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 70px;
        left: calc(-100vw - 40px);
        opacity: 1;
        transition: all 0.5s ease;
    }
    .navbar-list.active {
        background: #fff;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        margin: 0;
        margin-top: 2rem;
    }
    .navbar-list-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        color: black;
        cursor: pointer;
        font-size: 0.85rem;
        line-height: 1.25rem;
        font-family: Roboto Flex;
    }
    .navbar-list-detail:hover {
        color: #fff;
        background-color: #428de5;
        border-radius: 0.5rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
    .navbar-authenticated {
        margin-right: 4rem;
    }
    .navbar-auth {
        margin-right: 4rem;
    }
    .navbar-menu-icon {
        display: block;
        position: absolute;
        margin-top: -45px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.6rem;
        cursor: pointer;
    }
}
