.user-list-container {
  width: 100%;
  padding: 20px;
  background-color: white;
}
.user-list {
  display: flex;
  flex-wrap: wrap;
}
.user-list-container .title {
  font-size: 36px;
  color: #555;
}
.user-list .user-item {
  padding: 10px;
  flex-basis: calc(100% / 2);
}
.user-list-container .filter {
  display: flex;
  justify-content: center;
}
.user-list-container .filter span {
  border: 1px solid gray;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 4px;
}
.user-list-container .filter span.active {
  background-color: gray;
  color: #fff;
}
.user-list-container .filter :hover {
  cursor: pointer;
}
.App.second-layout .user-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App.second-layout .user-list-container .title {
  flex-basis: 100%;
}
.App.second-layout .user-list-container .filter {
  flex-basis: 10%;
}
.App.second-layout .user-list-container .filter::before {
  content: "Vai trò";
  font-weight: 700;
}
.App.second-layout .user-list-container .user-list {
  flex-basis: 90%;
}
.App.second-layout .user-list-container .filter {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .user-list .user-item {
    flex-basis: 100%;
  }
  .App.second-layout .user-list-container .user-list {
    flex-basis: 100%;
  }
  .App.second-layout .user-list-container .filter {
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .user-list .user-item {
    padding: 10px;
    flex-basis: 100%;
  }
}
