.product-list-container {
  width: 100%;
  padding: 20px;
  background-color: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}
.product-list-container .title {
  font-size: 36px;
  color: #555;
}
.product-list-container .add-product-btn {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: fit-content;
  margin: 0 0 0 auto;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  color: #000;
  font-weight: 600;
  text-align: center;
  padding: 12px 8px;
  transition: all 0.5s;
  width: 180px;
  cursor: pointer;
}

.product-list-container .add-product-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.product-list-container .add-product-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.product-list-container .add-product-btn:hover span {
  padding-right: 25px;
}

.product-list-container .add-product-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.product-list-container .add-product-btn span {
  padding-left: 4px;
}
.product-list-container .product-item {
  padding: 10px;
  flex-basis: calc(100% / 2);
}

@media only screen and (max-width: 1200px) {
  .product-list-container .product-item {
    flex-basis: 100%;
  }
}
