.product-dashboard {
  padding-top: 100px;
}
.product-dashboard .title {
  font-size: 36px;
  color: #555;
}
.product-dashboard .product-dashboard-container {
  box-shadow: rgb(115 82 199 / 18%) 0px 0.5rem 1.25rem;
  border-radius: 8px;
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
}
.product-dashboard .product-dashboard-container .select-item > button {
  width: 50%;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  transition: all 0.4s;
  border: none;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.product-dashboard .product-dashboard-container .select-item > button:hover {
  cursor: pointer;
}
.product-dashboard .product-dashboard-container .select-item > button.active {
  color: rgb(0, 89, 255);
  border-bottom: 2px solid rgb(0, 89, 255);
}
.button-group {
  width: fit-content;
  margin: 0 0 0 auto;
}
/*product-req-list*/
.product-req-list-container {
  width: 100%;
  padding: 20px;
  background-color: white;
}
.product-req-list {
  display: flex;
  flex-wrap: wrap;
}
.product-req-list-container .product-req-item {
  padding: 10px;
  flex-basis: calc(100% / 2);
}

/* product-req-item */
.product-req-item-body {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}
.product-req-item-body.done-req {
  border: 2px solid rgb(70, 188, 170);
}
.product-req-item-body.cancel-req {
  border: 2px solid rgb(243, 84, 33);
}
.product-req-item-body.waiting-req {
  border: 2px solid rgb(255, 207, 82);
}
.product-req-item .state-and-edit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.product-req-item .edit {
  font-size: 28px;
}
.product-req-item li {
  color: hsla(208, 7%, 46%, 0.75);
  margin: 0;
  font-size: 14px;
}
.product-req-item .basic-info .product-req-id {
  background-color: hsla(208, 7%, 46%, 0.75);
  display: inline;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
}
.product-req-item .basic-info .product-req-customer-address {
  color: #000;
  font-weight: 500;
}
.product-req-item .product-req-state {
  white-space: nowrap;
  display: inline-block;
  padding: 0px 10px;
  text-align: center;
  border-radius: 15px;
  font-weight: 700;
  color: #fff;
  width: 110px;
}
.product-req-item .product-req-state.done-req {
  background-color: rgb(237, 248, 247);
  color: rgb(70, 188, 170);
}
.product-req-item .product-req-state.cancel-req {
  background-color: rgb(254, 238, 233);
  color: rgb(243, 84, 33);
}
.product-req-item .product-req-state.waiting-req {
  background-color: rgb(255, 250, 238);
  color: rgb(255, 207, 82);
}
.product-req-item .edit {
  color: #6978d1;
  transition: all 0.2s;
}
.product-req-item .edit:hover {
  cursor: pointer;
  color: #090f31;
}
/*card*/
.product-dashboard .card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  margin: 15px auto;
}
.product-dashboard .card-item h3 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.17em;
}
.product-dashboard .card-item h2 {
  font-size: 1.6em;
}
.product-dashboard .card-item span {
  font-size: 1.17em;
}
.product-dashboard .card-item.sold-product {
  color: #12ca5b;
}
.product-dashboard .card-item.order-complete {
  color: #12ca5b;
}
.product-dashboard .card-item.out-stock-product {
  color: #ea5569;
}
.product-dashboard .card-item.order-waiting {
  color: #fa8c16;
}
.product-dashboard .card-group .card-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 16px 32px;
  font-weight: 500;
  flex-basis: calc(90% / 4);
}
.product-dashboard .card-group .card-item > * {
  margin: 0;
}
@media only screen and (max-width: 1280px) {
  .product-req-list-container .product-req-item {
    flex-basis: calc(100% / 2);
  }
  .product-dashboard .card-group .card-item {
    margin-bottom: 14px;
    flex-basis: calc(98% / 2);
  }
}
@media only screen and (max-width: 768px) {
  .product-req-list-container .product-req-item {
    flex-basis: 100%;
  }

  .product-dashboard .card-group .card-item {
    margin: 14px;
    flex-basis: 100%;
  }
}
