.product-dashboard-container {
    padding-top: 100px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: Nunito Sans;
}
.product-dashboard-container button {
    position: relative;
}
.product-dashboard-container button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.product-dashboard-container button:hover:before {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
}
.product-dashboard-container .filter {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    padding: 16px 8px;
}
.product-dashboard-container .filter form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-dashboard-container .filter form label {
    display: inline-block;
    width: 110px;
}
.product-dashboard-container .filter form input {
    width: calc(100% - 120px);
}
.product-dashboard-container .filter form .product-price input {
    width: 100px;
    margin-right: 10px;
}
.product-dashboard-container .filter form div {
    flex-basis: 50%;
    margin-bottom: 20px;
}
.product-dashboard-container .filter form button {
    background-color: #de135c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 20px;
    margin: 0 0 0 auto;
}
.product-dashboard-container .product-list-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    margin-top: 24px;
    padding: 12px;
}
.product-dashboard-container .product-list-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-dashboard-container .product-list-container .heading button {
    background-color: #de135c;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 1.2em;
}
.product-dashboard-container .product-list-container .product-list {
    padding: 10px;
}
.product-dashboard-container
    .product-list-container
    .product-list
    .product-list-table-container {
    border-radius: 4px;
    min-height: 500px;
}
.product-dashboard-container .product-list-container .product-list table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
.product-dashboard-container .product-list-container .product-list table thead {
    background-color: #de135eb6;
    color: #fff;
    text-align: left;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    thead
    th,
.product-dashboard-container
    .product-list-container
    .product-list
    table
    tbody
    td {
    border: none;
    padding: 8px 4px;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    tbody
    td {
    border-bottom: 1px solid #80808040;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    tbody
    span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    span.product-title {
    word-break: break-all;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    tbody
    .method {
    display: flex;
    justify-content: center;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    tbody
    .method
    > svg {
    display: block;
    position: relative;
    font-size: 36px;
    border: 1px solid rgb(211, 211, 211);
    margin: 0 4px;
    padding: 6px;
    border-radius: 4px;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    svg.delete-product {
    color: rgb(255, 75, 75);
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    svg.edit-product {
    color: rgb(75, 195, 255);
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    .method
    > svg:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: #fff;
}

.product-dashboard-container
    .product-list-container
    .product-list
    table
    tbody
    tr {
    position: relative;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    tbody
    tr:before,
.product-dashboard-container
    .product-list-container
    .product-list
    table
    thead
    tr:before {
    content: "";
    width: 0;
    transition: all 0.3s;
}
.product-dashboard-container
    .product-list-container
    .product-list
    table
    tbody
    tr:hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ababab1f;
}

.App.second-layout .product-dashboard-container {
    display: flex;
    justify-content: space-between;
}
.App.second-layout .product-dashboard-container .filter {
    flex-basis: 400px;
    height: fit-content;
}
.App.second-layout .product-dashboard-container .filter form {
    flex-direction: column;
}
.App.second-layout .product-dashboard-container .product-list-container {
    margin-top: 0;
    flex-basis: calc(100% - 420px);
}
.App.second-layout
    .product-dashboard-container
    .product-list-container
    .product-list
    table
    thead {
    background-color: #19396ace;
    color: #fff;
}

.App.second-layout .product-dashboard-container .filter form button {
    background: #193a6a;
}
.App.second-layout
    .product-dashboard-container
    .product-list-container
    .heading
    button {
    background: #193a6a;
}

.product-form .img-input-product {
    position: relative;
}
.product-form .img-input-product:before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    content: "Thêm ảnh cho sản phẩm";
    position: absolute;
    text-align: center;
    color: #fff;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    background-color: #000000bd;
    transition: height 0.2s;
}
.product-form .img-input-product:hover:before {
    cursor: pointer;
    top: 0;
    height: 100%;
    visibility: visible;
}

@media only screen and (max-width: 1280px) {
    .App.second-layout .product-dashboard-container {
        display: block;
    }
    .App.second-layout .product-dashboard-container .product-list-container {
        margin-top: 24px;
    }
    .App.second-layout .product-dashboard-container .filter form {
        flex-direction: row;
    }
}
@media only screen and (max-width: 768px) {
    .product-dashboard-container .filter form {
        flex-direction: column;
    }
    .App.second-layout .product-dashboard-container .filter form {
        flex-direction: column;
    }
}
