textarea {
  resize: none;
}
.product-form-container {
  width: 100%;
  padding: 20px;
  background-color: white;
  margin-top: 20px;
}
.product-form {
  display: flex;
  flex-wrap: wrap;
}
.product-form > div {
  padding: 0 30px;
  margin-bottom: 20px;
}
.product-form input,
.product-form textarea {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgb(201, 201, 201);
  padding: 8px 8px;
}
.product-form input:focus,
.product-form textarea:focus {
  border: 1px solid rgb(3, 38, 238);
}
.product-form > .product-name {
  flex-basis: 66.66%;
}
.product-form > .product-tag {
  flex-basis: 33.33%;
}
.product-form > .product-price,
.product-form > .product-discount,
.product-form > .product-amount {
  flex-basis: calc(100% / 3);
}
.product-form > .product-depot,
.product-form > .product-address,
.product-form > .product-description,
.product-form > .product-instruction {
  flex-basis: 100%;
}
.product-form label {
  display: block;
}
.product-form > .button-group > input {
  background-color: #4318ff;
  color: white;
}
.product-form label {
  color: #2b3674;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .product-form > .product-name,
  .product-form > .product-tag,
  .product-form > .product-price,
  .product-form > .product-discount,
  .product-form > .product-amount,
  .product-form > .product-depot,
  .product-form > .product-address,
  .product-form > .product-description,
  .product-form > .product-instruction {
    flex-basis: 100%;
  }
}
