.App.first-layout .service__banner_container {
    background: url("../../../public/assets/images/Service/Banner_service.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10px;
    margin-top: 100px;
}
.App.first-layout .service__banner_container_detail {
    height: 500px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.App.first-layout .service__banner_container_second {
    display: none;
}
.App.first-layout .service__banner_container_detail_second {
    display: none;
}
.App.first-layout .service__banner_container h1 {
    margin: 0;
    font-size: 60px;
    margin-bottom: 10px;
    color: #2132ce;
    text-shadow: 0px 20px 8px #ccc;
}

.App.second-layout .service__banner_container {
    display: none;
}
.App.second-layout .service__banner_container_detail_ {
    display: none;
}

.App.second-layout .service__banner_container_second {
    background: url("../../../public/assets/images/Service/banner_service_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10px;
    margin-top: 100px;
}

.App.second-layout .service__banner_container_detail_second {
    height: 500px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 100%;
}
.App.second-layout .service__banner_container_detail_second_left {
    width: 50%;
}
.App.second-layout .service__banner_container_detail_second_left_top h1 {
    color: #193a6a;
    font-weight: 800;
    font-size: 80px;
    margin: 0;
}
.App.second-layout .service__banner_container_detail_second_left_middle {
    position: relative;
    height: 60px;
    border-radius: 50px;
    background-color: #193a6a;
    padding-left: 75px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.App.second-layout .service__banner_container_detail_second_left_middle h2 {
    color: #fff;
    margin: 0;
    font-size: 36px;
}
.App.second-layout .service__banner_container_detail_second_left_middle_img {
    position: absolute;
    top: -20px;
    left: -16px;
    width: 100px;
    height: 100px;
}
.App.second-layout .service__banner_container_detail_second_left_bottom_button {
    border-radius: 10px;
    border: none;
    background-color: #124c5f;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}
.App.second-layout
    .service__banner_container_detail_second_left_bottom_button:hover {
    opacity: 0.6;
}
.App.second-layout .service__banner_container_detail_second_right {
    width: 30%;
}
.App.second-layout .service__banner_container_detail_second_right img {
    height: 500px;
}

@media screen and (max-width: 1024px) {
    .App.first-layout .service__banner_container_detail {
        height: 500px;
    }
    .App.first-layout .service__banner_container h1 {
        font-size: 50px;
    }

    .App.second-layout .service__banner_container_second {
        margin-top: 88px;
    }
    .App.second-layout .service__banner_container_detail_second_left {
        width: 60%;
    }
    .App.second-layout .service__banner_container_detail_second_left_middle h2 {
        font-size: 24px;
    }
    .App.second-layout
        .service__banner_container_detail_second_left_bottom_button {
        padding: 10px;
        font-size: 18px;
    }
    .App.second-layout .service__banner_container_detail_second_right img {
        height: 400px;
    }
}
@media screen and (max-width: 768px) {
    .App.second-layout .service__banner_container_detail_second_left {
        width: 60%;
    }
    .App.second-layout .service__banner_container_detail_second_left_middle h2 {
        font-size: 24px;
    }
    .App.second-layout .service__banner_container_detail_second_right img {
        height: 400px;
    }
    .App.second-layout
        .service__banner_container_detail_second_left_bottom_button {
        padding: 10px;
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .App.first-layout .service__banner_container {
        margin-top: 90px;
    }
    .App.first-layout .service__banner_container h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 480px) {
    .App.first-layout .service__banner_container_detail {
        height: 400px;
    }
    .App.first-layout .service__banner_container h1 {
        font-size: 42px;
    }

    .App.second-layout .service__banner_container_detail_second_left {
        width: 100%;
    }
    .App.second-layout .service__banner_container_detail_second_right {
        display: none;
    }
    .App.second-layout .service__banner_container_detail_second_left_top h1 {
        font-size: 70px;
    }
    .App.second-layout .service__banner_container_detail_second_left_middle h2 {
        font-size: 20px;
    }
    .App.second-layout .service__banner_container_detail_second_left_middle {
        height: 40px;
        padding-left: 60px;
        margin-bottom: 20px;
    }
    .App.second-layout
        .service__banner_container_detail_second_left_middle_img {
        width: 80px;
        height: 80px;
    }
    .App.second-layout
        .service__banner_container_detail_second_left_bottom_button {
        padding: 15px;
        font-size: 18px;
    }
}
