.user-item {
  padding: 8px 12px;
  margin-bottom: 14px;
}
.user-item ul {
  margin: 0;
}
.user-item ul li {
  margin: 0;
}

.user-item-body {
  position: relative;
  padding: 8px 12px;
  display: flex;
  text-align: left;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.user-item .basic-info {
  display: flex;
  align-items: center;
}
.user-item .basic-info .avt {
  margin-right: 20px;
  width: 40px;
}
.user-item .basic-info .avt img {
  width: 100%;
  object-fit: cover;
}
.user-item .basic-info ul,
.user-item .account-info {
  margin: 0 20px;
}
.user-item .basic-info ul li {
  line-height: 24px;
  height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-item .basic-info .id {
  background-color: hsla(208, 7%, 46%, 0.75);
  display: inline;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
}
.user-item .edit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  color: #6978d1;
  padding: 0 3px;
  transition: all 0.2s;
}
.user-item .edit:hover {
  cursor: pointer;
  color: #090f31;
}
.user-item {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .user-item {
    display: flex;
    flex-direction: column;
  }
  .user-item > * {
    padding-bottom: 10px;
  }
  .user-item {
    text-align: left;
  }
  .user-item .basic-info ul,
  .user-item .account-info {
    margin: 0 5px;
  }
}
