.auth-footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.auth-footer-copyright {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.App.first-layout .auth-footer-copyright hr {
    margin-bottom: 1.5rem;
}

.App.second-layout .auth-footer-copyright hr {
    margin-bottom: 1.5rem;
    background-color: #ffffff;
}

.auth-footer-copyright-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.auth-footer-copyright-detail {
    padding: 0 1rem;
}

.App.first-layout .auth-footer-copyright-content {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    text-align: left;
}

.App.second-layout .auth-footer-copyright-content {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    text-align: left;
}

.auth-footer-copyright-main p {
    font-family: Roboto Flex;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.auth-footer-copyright-main span {
    margin-right: 2px;
}

@media screen and (max-width: 768px) {
    .auth-footer-copyright-detail {
        width: 100%;
    }
    .auth-footer-copyright-main {
        justify-content: center;
    }
    .auth-footer-copyright-content {
        text-align: center;
    }
}
