.edit-product-container {
  font-family: Roboto Flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10010;
  width: 100vw;
  height: 100vh;
}
.edit-product-container .layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
}
.edit-product-container {
  margin-top: 0;
}
.edit-product-form-container .heading {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 14px;
  color: #000;
  background-color: #fff;
}
.edit-product-form-container .heading h4 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
}
.edit-product-form-container .heading svg {
  font-size: 2em;
}
.edit-product-form-container .heading svg:hover {
  color: red;
  cursor: pointer;
}
.edit-product-form-container {
  position: relative;
  max-width: 1200px;
  margin: 10vh auto;
  max-height: 80vh;
  overflow-y: auto;
  background: white;
  border-radius: 5px;
  transform: scale(0);
  transition: all 0.5s;
}
.edit-product-form-container.show {
  transform: scale(1);
}
.edit-product-form-container .button-group input {
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
}
.edit-product-form-container .button-group .cancel-edit {
  color: #000;
  background-color: #fff;
  border: 1px solid gray !important;
  margin-left: 8px;
}
.edit-product-form-container .button-group input {
  font-weight: 500;
}
.edit-product-form-container .button-group input:hover {
  cursor: pointer;
  transform: scale(1.05);
}
