.App.first-layout {
    min-height: 100vh;
    background-color: #f5f5f5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.App.second-layout {
    min-height: 100vh;
    background-color: #f5f5f5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar-logo-main {
    width: 150px;
    height: 112.5px;
    margin-top: -20px;
}

.footer-logo-main {
    width: 200px;
    height: 150px;
}

.App a {
    color: inherit;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
