.PaymentItem {
  display: flex;
  width: 100%;
  height: 120px;
  margin: 25px 0px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #dd3c72;
}
.second-layout .PaymentItem {
  border-bottom: 1px dashed #124c5f;
}
.PaymentItem-Image {
  width: 25%;
}
.PaymentItem-Content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
.PaymentItem-Content > p {
  font-size: 20px;
  text-align: justify;
}
.PaymentItem-Content > div {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .PaymentItem-Image {
    width: 28%;
  }
  .PaymentItem-Content {
    width: 70%;
  }
  .PaymentItem-Content > p {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .PaymentItem {
    height: 110px;
    padding-bottom: 20px;
  }
  .PaymentItem-Image {
    width: 30%;
  }
  .PaymentItem-Content {
    width: 70%;
    padding-left: 10px;
  }
  .PaymentItem-Content > p {
    font-size: 16px;
  }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
  .PaymentItem {
    height: 140px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 299px) {
  .PaymentItem {
    height: 140px;
    padding-bottom: 20px;
  }
}
