.service__choice__container{
    padding:15px 10px;
}
.service__choice__container__detail{
    margin: 0 auto;
    max-width: 1280px;
    border:1px solid #DE135C;
    padding:20px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;

}

.underline__service__choice{
    border-bottom: 2px solid #DE135C;
    margin-bottom: 10px;
}
.service_choice_content_container{

    display:grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 20px;
    width:100%;
    margin-top: 5px;
    text-align:center;
    
}
.service_choice_content{
    /* --number_column:3;
    width:calc(100% / var(--number_column) ); */
    padding:5px;
    background-color: #043FD9;
    color:#fff;
    padding:15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
    /* justify-content: center;
    flex-direction: column;
    align-items: center; */
}
.icon__service{
    font-size: 70px;
}
.text__choice__service{
    font-size: 18px;
}
@media screen and (max-width: 1024px){
    
    .service_choice_content_container{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-row-gap: 20px;
    }
    .service_choice_content{
        display:flex;
        align-items: center;
    }
    .icon__service{
        font-size: 50px;
        width:15%;
    }
    .text__header__choice{
        font-size: 26px;
    }
    p.text__choice__service{
        /* width:80%; */
        font-size: 24px;
        text-align: left;
    }
}
@media screen and (max-width: 600px){
    .text__header__choice{
        font-size: 20px;
    }
    .icon__service{
        font-size: 40px;
    }
    p.text__choice__service{
        font-size: 18px;
    }
}
@media screen and (max-width: 480px){
    .text__header__choice{
        font-size: 16px;
    }
    .icon__service{
        font-size: 30px;
    }
    p.text__choice__service{
        font-size: 14px;
    }
}