.Products_banner_container{
    background-image: url(../../../public/assets/images/Products/BannerProducts.png);
    background-size: 100% 100%;
    background-position: center;
    margin-top: 114px;

}
.Products_banner_container_detail{
    height:500px;
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;

    /* background-position: object; */
}
