.auth-container-login {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.App.first-layout .auth-container-detail-second {
    display: none;
}

.App.second-layout .auth-container-detail-login {
    display: none;
}

.App.first-layout .auth-container-detail-login {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.App.second-layout .auth-container-detail-second {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.App.first-layout .auth-login-container {
    width: 25%;
    padding: 0 1rem;
    border-radius: 0.25rem;
    background-color: #e2e8f0;
    z-index: 2;
}

.App.second-layout .auth-login-container {
    width: 60%;
    border-radius: 3px;
    background-color: #41707f;
    z-index: 2;
}

.App.first-layout .auth-login-up {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    overflow-wrap: break-word;
    border: none;
}

.App.second-layout .auth-login-title {
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 10px;
}

.App.second-layout .auth-login-title p {
    font-family: Nunito;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    line-height: 35px;
    letter-spacing: 0.5px;
}

.App.second-layout .auth-login-container hr {
    background-color: #c4c4c4;
    margin-top: 20px !important;
}

.App.first-layout .auth-login-another {
    padding: 1.5rem;
}

.App.first-layout .auth-login-another-text {
    text-align: center;
    margin-bottom: 0.75rem;
}

.App.first-layout .auth-login-another-text h6 {
    color: #64748b;
    font-weight: 800;
}

.App.first-layout .auth-login-another-button iframe {
    text-align: center;
    margin: 10px auto !important;
}

.App.first-layout .auth-login-input-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.App.first-layout .auth-login-input-title {
    text-align: center;
    margin-bottom: 0.75rem;
}

.App.first-layout .auth-login-input-title span {
    color: #64748b;
    font-weight: 800;
}

.App.first-layout .auth-login-input {
    position: relative;
    width: 100%;
    margin-bottom: 0.75rem;
}

.App.first-layout .auth-login-input label {
    display: block;
    text-transform: uppercase;
    color: #64748b;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: Roboto Flex;
    font-size: 12px;
}

.App.first-layout .auth-login-input input {
    border: none;
    padding: 10px;
    color: #475569;
    background-color: white;
    border-radius: 0.25rem;
    font-size: 14px;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.App.first-layout .auth-login-input input :focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.App.first-layout .auth-login-input input ::placeholder {
    font-family: Nunito;
    color: #d8d8d8;
}

.App.first-layout .auth-login-form-button {
    text-align: center;
    margin-top: 1.5rem;
}

.App.first-layout .auth-login-form-button button {
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #1e293b;
    border-radius: 0.25rem;
    font-size: 14px;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.App.first-layout .auth-login-down {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 10px 0;
}

.App.first-layout .auth-login-down small {
    font-family: Roboto Flex;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.App.second-layout .auth-login-content {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-between;
    width: 100%;
}

.App.second-layout .auth-login-input {
    position: relative;
    width: 100%;
    margin-bottom: 0.75rem;
}

.App.second-layout .auth-login-input label {
    display: block;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-family: Roboto Flex;
    font-size: 12px;
}

.App.second-layout .auth-login-input input {
    border: none;
    padding: 10px;
    color: #475569;
    background-color: white;
    border-radius: 0.25rem;
    font-size: 14px;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.App.second-layout .auth-login-input input :focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.App.second-layout .auth-login-input input ::placeholder {
    font-family: Nunito;
    color: #d8d8d8;
}

.App.second-layout .auth-login-form-button {
    text-align: center;
    margin-top: 1.5rem;
}

.App.second-layout .auth-login-form-button button {
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #1e293b;
    border-radius: 0.25rem;
    font-size: 14px;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.App.second-layout .auth-login-content-right {
    padding-left: 20px;
    margin: auto;
}

.App.second-layout .auth-login-content-left {
    padding-right: 20px;
    border-right: 1px solid #c4c4c4;
}

.App.second-layout .auth-login-down {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: #29c797;
}

.App.second-layout .auth-login-down small {
    font-family: Roboto Flex;
    font-weight: 700;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1024px) {
    .App.first-layout .auth-login-container {
        width: 40%;
    }

    .App.second-layout .auth-login-container {
        width: 40%;
    }
}

@media screen and (max-width: 960px) {
    .App.first-layout .auth-login-container {
        width: 50%;
    }

    .App.second-layout .auth-login-container {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .App.first-layout .auth-login-container {
        width: 100%;
    }

    .App.second-layout .auth-login-content {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .App.second-layout .auth-login-content-left {
        border-right: none;
        border-bottom: 1px solid #c4c4c4;
        padding: 2rem 0;
    }

    .App.second-layout .auth-login-container {
        width: 100%;
    }

    .App.second-layout .auth-login-content-right {
        padding-top: 20px;
    }
}
