.auth-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.auth-container-detail {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.auth-register-input span {
    color: red;
    font-weight: 300;
    font-family: Roboto Flex;
}

.auth-register-container {
    width: 25%;
    padding: 0 1rem;
    border-radius: 0.25rem;
    background-color: #e2e8f0;
    z-index: 2;
}

.auth-register-up {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    overflow-wrap: break-word;
    border: none;
}

.auth-register-another {
    padding: 1.5rem;
}

.auth-register-another-text {
    text-align: center;
    margin-bottom: 0.75rem;
}

.auth-register-another-text h3 {
    color: #64748b;
    font-weight: 700;
    letter-spacing: 0.25px;
}

.auth-register-another-button {
    text-align: center;
    margin-bottom: 10px;
}

.auth-register-another-button button {
    background-color: white;
    color: #475569;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

.auth-register-input-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.auth-register-input-title {
    text-align: center;
    margin-bottom: 0.75rem;
}

.auth-register-input-title span {
    color: #64748b;
    font-weight: 800;
}

.auth-register-input {
    position: relative;
    width: 100%;
    margin-bottom: 0.75rem;
}

.auth-register-input label {
    display: block;
    text-transform: uppercase;
    color: #64748b;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: Roboto Flex;
    font-size: 12px;
}

.auth-register-input input {
    border: none;
    padding: 10px;
    color: #475569;
    background-color: white;
    border-radius: 0.25rem;
    font-size: 14px;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.auth-register-input input :focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.auth-register-input input ::placeholder {
    font-family: Nunito;
    color: #d8d8d8;
}

.auth-register-form-button {
    text-align: center;
    margin-top: 1.5rem;
}

.auth-register-form-button button {
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #1e293b;
    border-radius: 0.25rem;
    font-size: 14px;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.auth-register-down {
    text-align: right;
    padding: 0 1rem;
    margin: 10px 0;
}

.auth-register-down small {
    font-family: Roboto Flex;
    font-weight: 700;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1024px) {
    .auth-register-container {
        width: 40%;
    }
}

@media screen and (max-width: 960px) {
    .auth-register-container {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .auth-register-container {
        width: 100%;
    }
}
