.home-community-container {
    padding: 4rem 0;
}

.home-community-container-detail {
    max-width: 1280px;
    margin: 0 auto;
}

.home-community-title {
    font-weight: 800;
    font-family: Nunito;
    text-align: center;
    margin-bottom: 4rem;
}

.home-community-title h2 {
    font-weight: 800;
    font-family: Nunito;
    text-align: center;
    text-transform: uppercase;
}

.home-community-title h4 {
    font-weight: 600;
    font-family: Nunito;
    text-align: center;
    color: #a9a9a9;
    letter-spacing: 0.75px;
}

.home-community-comment-container {
    margin: 4rem 0;
    width: 100%;
    margin: 0 auto;
    cursor: move;
}

.home-community-slide-space {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.home-community-slide-space a {
    cursor: pointer;
    text-decoration: none;
}

.home-community-slide-box {
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    border-radius: 0.375rem;
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #eaeaea;
}

.home-community-slide-info {
    position: relative;
}

.home-community-slide-avatar {
    display: flex;
    align-items: center;
}

.home-community-slide-round img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border-width: 1px;
    margin-right: 0.75rem;
}

.home-community-slide-name {
    display: flex;
    flex-direction: column;
}

.home-community-slide-name-detail {
    color: #000;
    font-weight: 800;
    font-family: Roboto Flex;
}

.home-community-slide-name-detail-link {
    color: #000;
    font-weight: 400;
    font-family: Roboto Flex;
    font-size: 14px;
}

.home-community-content {
    margin-top: 0.75rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #de135c;
}

@media (max-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}
