.Product__list__container{
    padding:15px 0;
}
.Product__list__container__detail{
    max-width: 1280px;
    margin: 0 auto;
    border:1px solid #DE135C;
    padding:20px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
}
.underline__service__Product__list{
    border-bottom: 2px solid #DE135C;
    width:100%;
    margin-bottom: 10px;
}
/* .Product__list__number{
    list-style-type: upper-greek;
    list-style-position: inside;
} */
.text__content__Product__list{
    padding:0 10px;
}
.Product__list__{
    list-style-type: disc;
    list-style-position: inside;
}
.Product__list_service__img__container{
    text-align: center;
}
.Product__list_service__img{
    width: 400px;
    height:300px;
    border-radius: 5px;
}